<%- include('header'); -%>

<h1 style="color:aquamarine">About Me</h1>

<p>Hi i am an aspiring data scientist i love to play woth data
    contact me for freelancing assignment
</p>
<%- include('footer'); -%>